<div class="ng-scope" ng-include="'navbar.html'"></div>
<div class="container-fluid main-container">
  <div ng-controller="searchCtrl">
    <div>
      <div class="search-box">
        <label class="glyphicon glyphicon-search"></label>
        <input type="text"
               name="searchBox"
               class="form-control"
               ng-model="searchQuery"
               ng-keydown="vm.onSearchBoxKeyPress($event, searchQuery)"
               placeholder="Powered by #BearShark">
      </div>
    </div>
    <br/>
    <!--<input type="checkbox" ng-model="hideSearchResults">-->
    <div class="search-results" ng-show="showSearchResults">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>Segment Name</th>
            <th>Segment ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="segment in segmentsData">
            <td>{{ segment.segmentName }}</td>
            <td>{{ segment.segmentId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
